$primary-color: #444ce7;
$secondary-color: #3538cd;
$gray-color: #667085;
$light-color: #c7d7fe;
$dark-color: #101828;
$gray200: #d0d5dd;
$background-light: #eef4ff;
$background-dark: #f9fafb;
$box-shadow: 0px 1px 2px 0px #1018280d;
